* {
	border: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }  

  @media only screen and (max-width:500px) {
    p {
        display: none;
    }
}

.grid {
	margin-top:3%;
    margin-right:20%;
    margin-left:8.5%;
    max-width: 1050px;
    width: 100%;
}



.row-1 {
    width: 100%;
    margin-bottom: 45px;
    display: flex;
}

.row-2 {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.row-3 {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.row-4 {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}


.row-5 {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}


.col-1-1 {	width: 12%;
}
.col-1-2 {	width: 13%;
}
.col-1-3 {	width: 75%;
}
.col-2-1{	width: 12%;
}
.col-2-2{	width:87.5%;
}
.col-3-1{	width:12.5%;
}
.col-3-2{	width:87.5%;
}
.col-4-1{	width:12.5%;
}
.col-4-2{	width:29.16%;
			padding-right:3 0%;
}
.col-4-3{	width:29.16%;
}
.col-4-4{	width:29.16%;
}
.col-5-1{	width:12.5%;
}
.col-5-2{	width:29.16%;
}
.col-5-3{	width:29.16%;
}
.col5-4{	width:29.16;
}